language: node_js
node_js:
  - "10"
env:
  global:    
    # DANGER_GITHUB_API_TOKEN
install:
  - npm install
  - gem install bundler
  - bundle install
cache:
  bundler: true
  directories:
    - node_modules
jobs:
  include:
    - stage: danger
      script: danger --fail-on-errors=true
    - stage: tests
      script: npm run tests

stages:
  - name: danger
    if: type IN (pull_request)
  - name: tests
    if: type IN (pull_request, push) AND tag IS blank