doctype html
html(lang='en')
    head
        title  
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
    body
        h1.pt6.f-6.avenir.w-20.pl6
            | Type something
        h2.red.pt5.tc.avenir.f4.pb5
            | Type something
        .bg-green.mb6
            p.avenir.pl5.f1.fl.w-20.pt5.pb6
                | Type something
            p.avenir.f1.dib.pt5.pb6.tc.w5
                | Type something2
            p.avenir.pr5.f1.fr.w-20.pt5.pb6.tr
                | Type something3
