doctype html
html(lang='en')
    head
        title  
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
    body
        .flex-ns.ml7
            .db.mt7
                h1.sans-serif.f2
                        | The best website, ever.
                h3.seirf.mb6
                    | So simple. So blank. Nothing to love
                    br 
                    | & nothing to hate.
            img(src="../assets/globe.svg", alt="").ml5.mb5.mt6
        .bg-dark-gray
            .flex.justify-around.white.f3.sans-serif
                h2.mt6
                    | Simply Stunning
                h2.mt6
                    | Boring you say?
                h2.mt6
                    | Still boring?
            .flex.justify-around.white.f5.sans-serif
                p.mb6
                    | What can i say? This site is
                    br
                    | great.
                p
                    | I would have to disagree. This
                    br
                    | site is as exciting as the tooth
                    br
                    | fairy.
                p
                    | Listen here. Art is in the eye of
                    br
                    | the beholder. back off.