doctype html
html(lang='en')
    head
        title  
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
    body
        .flex.justify-center.items-center.mt5
            h1.w5.h5.bg-moon-gray.ba.bw2.b--dark-red 
        .flex.justify-center.items-center.mt4
            h2.w5.h5.bg-moon-gray.ba.bw2.b--dark-red.dib.mr4
            h2.w5.h5.bg-moon-gray.ba.bw2.b--dark-red.dib
        .flex.justify-center.items-center.mb7.mt4
            h3.w5.h5.bg-moon-gray.ba.bw2.b--dark-red.dib.mr4
            h3.w5.h5.bg-moon-gray.ba.bw2.b--dark-red.dib.mr4
            h3.w5.h5.bg-moon-gray.ba.bw2.b--dark-red.dib
