doctype html
html(lang='en')
    head
        title  
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
    body
        .ml7.mr7.mt4.mb4
            img(src="../assets/building.jpg", alt="")
            .aspect-ratio--object.mt4
                h1.tc.mt6.avenir.f1
                    | Art
            .aspect-ratio--object.mt7
                h2.tc.avenir.f1.pt7.white
                    | Is
            .aspect-ratio--object.mt7.pt7
                h3.tc.avenir.f1.white.pt7.mt7
                    | Everywhere