doctype html
html(lang='en')
    head
        title  
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
    body
        .sans-serif.flex.flex-column-reverse.flex-row-l.items-center.justify-center-l.mb6.mb0-ns.ml7-l
            .db.tc.tl-ns.w5.w-auto-ns.mt6.mt7-l.mt2-m.mr4-l
                h1.f2
                        | The best website, ever.
                h3.f3.w-auto-ns.mb6-l.mb5-m
                    | So simple. So blank. Nothing to love
                    br
                    | & nothing to hate.
            img(src="../assets/globe.svg", alt="").dn.db-ns.ml5-l.mr6-l.mb5-l.mt6-l.mt5-m
        .bg-dark-gray.vh-50-l
            .sans-serif.white.flex.items-center.flex-column.flex-row-l.justify-around-l
                .flex-l.flex-column-l.self-start-m.ml5-m
                    h2.f3.mt6.tc.tl-ns
                        | Simply Stunning
                    p.f5
                        | What can i say? This site is
                        br
                        | great.
                .flex-l.flex-column-l.self-end-m.mr5-m
                    h2.f3.mt6.tc.tl-ns
                        | Boring you say?
                    p.f5
                        | I would have to disagree. This
                        br
                        | site is as exciting as the tooth
                        br
                        | fairy.
                .flex-l.flex-column-l.self-start-m.ml5-m
                    h2.f3.mt6.tc.tl-ns
                        | Still boring?
                    p.f5.mb6.mb0-l
                        | Listen here. Art is in the eye of
                        br
                        | the beholder. back off.
